<div class="navContainer">
    <nav>
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/users">users</a>
        <a href="/posts">posts</a>
        <a href="/comments">comments</a>
    </nav>
    <hr class="navHR">
</div>
