<html lang="en">
    <%- include('./partials/styles.ejs') %>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="404 page">
            <h2>The page you were looking for could not be found</h2>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>