<html lang="en">
    <%- include('./partials/styles.ejs') %>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="503 page">
            <h2>Internal Server Error 503</h2>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>