<html lang="en">
    <%- include('./partials/styles.ejs') %>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <h1>About Page</h1>
        <h2>Working with Node.js and Restful API against PostgreSQL database table.</h2>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>