<html lang="en">
    <%- include('./partials/styles.ejs') %>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <h1>Home Page</h1>
        <h2>Welcome to the home page of my Node.js application.</h2>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>
