<html lang="en">
    <%- include('./partials/styles.ejs') %>
    <%- include('./partials/head.ejs') %>
    <body>

        <h1>Home</h1>

        <% if (typeof message !== 'undefined' ) { %>
            <p><%= message %></p>
            <% } %>
        
            <a href="/login">Login</a>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>
